<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width-device-width, initial-scale-1.0" />
    <!-- Vinculación con hoja de CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- Nombre que figura en la pestaña del navegador -->
    <title>Turismo Misiones</title>
    <!-- Icono que figura en la pestaña del navegador -->
    <link rel="icon" href="../img/Logo.ico">
    <!-- Tipo de letda -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="grid__container">

      <!-- ENCABEZADO (título, logo) -->
      <header class="header">
        <div class="header__box">
            <!-- Título y logo -->
            <div class="header__title">
              <img class="header__title__img" src="../img/logo.png" alt="logo de la página">
              <h1 class="header__title__format">Turismo Misiones</h1>
            </div>

          <!-- Menú -->
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__list__option"><a href="../index.html">INICIO</a></li>
              <li class="menu__list__option"><a href="cultura.html">CULTURA</a></li>
              <li class="menu__list__option"><a href="animales.html">ANIMALES</a></li>
              <li class="menu__list__option"><a href="lugares.html">LUGARES</a></li>
              <li class="menu__list__option"><a href="contacto.html">CONTACTO</a></li>
            </ul>
          </nav>
        </div> 
      </header>

      <section class="main__animales">
        <div class="main__animales__title">
          <h2>ANIMALES</h2>
        </div>
        <div class="main__animales__box">
          <div class="main__animales__box__container">
            <img class="main__animales__box__container__foto" src="../img/Animales/yaguarete.jpg">
            <div class="main__animales__box__container__text">
              <div>
                <h3>Yaguareté</h3>
                <p>El jaguar, yaguar o yaguareté es un carnívoro félido de la subfamilia de los Panterinos y género Panthera. Es la única de las cinco especies actuales de este género que se encuentra en América. También es el mayor félido de América y el tercero del mundo, después del tigre y el león.
                </p>
              </div>
            </div>
          </div>

          <div class="main__animales__box__container">
            <div class="main__animales__box__container__text">
              <div>
                <h3>Mariposa 88</h3>
                <p>El jaguar, yaguar o yaguareté es un carnívoro félido de la subfamilia de los Panterinos y género Panthera. Es la única de las cinco especies actuales de este género que se encuentra en América. También es el mayor félido de América y el tercero del mundo, después del tigre y el león.
                </p>
              </div>
            </div>
            <img class="main__animales__box__container__foto" src="../img/Animales/mariposa88.jpg">
          </div>

          <div class="main__animales__box__container">
            <img class="main__animales__box__container__foto" src="../img/Animales/tucan.jpg">
            <div class="main__animales__box__container__text">
              <div>
                <h3>Tucán</h3>
                <p>El jaguar, yaguar o yaguareté es un carnívoro félido de la subfamilia de los Panterinos y género Panthera. Es la única de las cinco especies actuales de este género que se encuentra en América. También es el mayor félido de América y el tercero del mundo, después del tigre y el león.
                </p>
              </div>
            </div>
          </div>

          <div class="main__animales__box__container">
            <div class="main__animales__box__container__text">
              <div>
                <h3>Armadillo peludo</h3>
                <p>El jaguar, yaguar o yaguareté es un carnívoro félido de la subfamilia de los Panterinos y género Panthera. Es la única de las cinco especies actuales de este género que se encuentra en América. También es el mayor félido de América y el tercero del mundo, después del tigre y el león.
                </p>
              </div>
            </div>
            <img class="main__animales__box__container__foto" src="../img/Animales/armadillopeludo.jpg">
          </div>

          <div class="main__animales__box__container">
            <img class="main__animales__box__container__foto" src="../img/Animales/caraya.jpg">
            <div class="main__animales__box__container__text">
              <div>
                <h3>Mono Caraya Rojo</h3>
                <p>El jaguar, yaguar o yaguareté es un carnívoro félido de la subfamilia de los Panterinos y género Panthera. Es la única de las cinco especies actuales de este género que se encuentra en América. También es el mayor félido de América y el tercero del mundo, después del tigre y el león.
                </p>
              </div>
            </div>
          </div>

          <div class="main__animales__box__container">
            <div class="main__animales__box__container__text">
              <div>
                <h3>Coati</h3>
                <p>El jaguar, yaguar o yaguareté es un carnívoro félido de la subfamilia de los Panterinos y género Panthera. Es la única de las cinco especies actuales de este género que se encuentra en América. También es el mayor félido de América y el tercero del mundo, después del tigre y el león.
                </p>
              </div>
            </div>
            <img class="main__animales__box__container__foto" src="../img/Animales/coati.jpg">
          </div>

          <div class="main__animales__box__container">
            <img class="main__animales__box__container__foto" src="../img/Animales/monocai.jpg">
            <div class="main__animales__box__container__text">
              <div>
                <h3>Mono Caí</h3>
                <p>El jaguar, yaguar o yaguareté es un carnívoro félido de la subfamilia de los Panterinos y género Panthera. Es la única de las cinco especies actuales de este género que se encuentra en América. También es el mayor félido de América y el tercero del mundo, después del tigre y el león.
                </p>
              </div>
            </div>
          </div>

          <div class="main__animales__box__container">
            <div class="main__animales__box__container__text">
              <div>
                <h3>Ocelote</h3>
                <p>El jaguar, yaguar o yaguareté es un carnívoro félido de la subfamilia de los Panterinos y género Panthera. Es la única de las cinco especies actuales de este género que se encuentra en América. También es el mayor félido de América y el tercero del mundo, después del tigre y el león.
                </p>
              </div>
            </div>
            <img class="main__animales__box__container__foto" src="../img/Animales/ocelote.jpg">
          </div>

          <div class="main__animales__box__container">
            <img class="main__animales__box__container__foto" src="../img/Animales/saira.jpg">
            <div class="main__animales__box__container__text">
              <div>
                <h3>Saira Arcoiris</h3>
                <p>El jaguar, yaguar o yaguareté es un carnívoro félido de la subfamilia de los Panterinos y género Panthera. Es la única de las cinco especies actuales de este género que se encuentra en América. También es el mayor félido de América y el tercero del mundo, después del tigre y el león.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer>
        <div class="footer__box">
          <p class="footer__box__text">© Turismo Misiones. 2021 </p>
          <div class="footer__box__redes"> 
            <a href="https://www.facebook.com/">
              <img class="footer__box__redes__icon" src="https://img.icons8.com/material-rounded/24/ffffff/facebook.png"/>
            </a>
            <a href="https://www.twitter.com">
              <img class="footer__box__redes__icon" src="https://img.icons8.com/ios-glyphs/24/ffffff/twitter--v1.png"/>
            </a>
            <a href="https://www.instagram.com">
              <img class="footer__box__redes__icon" src="https://img.icons8.com/ios-glyphs/24/ffffff/instagram-new.png"/>
            </a>
           </div>
        </div>
      </footer>
    </div>
  </body>
</html>