.logo{
	width: 2.2rem;
	object-fit: contain;
}

.col-4-mob{
	height: 82vh;
}

.col-12-tam{
	height: 22vh;
}
/* MAIN STRUCTURE */
.main__cultura{
	background-image: url("../../img/Cultura.jpg");
	background-size: cover;
}

.main__animal{
	background-image: url("../../img/Animales.jpg");
	background-size: cover;
	background-position: center;
}

.main__lugares{
	background-image: url("../../img/Lugares.jpg");
	background-size: cover;
}

/* MAIN STYLE */
.main__front{
	text-decoration: none;
}
.main__front__box{
	background-color: #00000099;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	letter-spacing: 2px;
}
.main__front__title{
	color: #fff;
	letter-spacing: 2px;
}

/* MAIN HOVER EFFECT */
.main__front__box:hover{
	background-color: #00000033;
}

.redes{
	text-decoration: none;
}

.nav-link{
	color: #FFF !important;
}